* {
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* <body> */
body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  background-color: #7796CB;
  background-image: url(image/background.jpg);
  background-size: 100%;
  text-align: justify;
}
/* <div class="container"> */
.container {
  min-width: 100%;
  min-height: 100%;
  max-width: 1400px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  background-color: #224870;
  box-shadow: 1px 1px 5px #FEBD53;
}
.header__photo {
  border-radius: 50%;
  overflow: hidden;
  min-width: 250px;
  height: 250px;
  border: 5px solid #FEBD53;
  margin-left: 50px;
  box-shadow: 0px 0px 5px rgb(217, 217, 217);
}
.header__photo img {
  width: 240px;
  height: 285px;
  margin-bottom: -5px;
  padding-bottom: 35px;
}
/* .header__contact{
                text-align: center;
            } */
.header__contact {
  min-width: 70%;
  text-shadow: 1px 1px 5px #FEBD53;
}
.header__contact h2 {
  padding-bottom: 12px;
  color: #7796CB;
  padding-left: 100px;
  text-shadow: 1px 1px 3px #FEBD53;
  font-size: 2em;
  font-weight: 800;
}

.header__contact--irl {
  display: flex;
  flex-direction: column;
  line-height: 1.2em;
  font-size: 0.9em;
  padding-bottom: 10px;
  padding-left: 20px;
  color: white;
  text-shadow: 1px 1px 2px #7796cb;
}
.header__contact--irl i {
  color: #FEBD53;
  opacity: 0.6;
  padding-right: 5px;
  text-shadow: 1px 1px 1px #7796CB;
}
.header__contact--rsx {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 3%;
  left: 70%;
  justify-content: space-between;
  max-width: 250px;
}

.header__contact--rsx span {
  padding: 7px 11px;
  font-weight: 600;
  opacity: 0.8;
  box-shadow: 0 0 2px #7796CB;
  border-radius: 20%;
  border: 1px solid #FEBD53;
  color: white;
  box-shadow: 1px 1px 1px #fff;
  margin: 5px;
  height: 19px;
  width: 15px;
}
.header__contact--rsx .link {
  background-color: #0b66c2;
  padding: 2px 18px 20px 4px;
}
.header__contact--rsx .google {
  padding: 2px 18px 20px 4px;

  background-color: #febd53;
}
.header__contact--rsx .git {
  padding: 2px 18px 20px 4px;

  background-color: #0e0f18;
}
.header__contact--rsx .app {
  padding: 2px 18px 20px 4px;

  background-color: #58d844;
}
.header__contact-line {
  border: 0.5px solid #FEBD53;
  margin: 20px 0px;
  box-shadow: 1px 1px 3px #fff;
}
.header__contact-lineup {
  border: 0.5px solid #FEBD53;
  margin: 20px 0px;
  box-shadow: 0.5px 0.5px 3px #224870;
}
h1 {
  font-size: 3em;
  color: #FEBD53;
  text-shadow: 1px 1px 3px #fff;
  padding-top: 10px;
}
.qr {
  position: absolute;
  top: 5%;
  right: 17%;
  box-shadow: 0px 0px 5px #FEBD53;
}
.qr img {
  height: 100%;
  width: 110px;
}
main {
  display: flex;
  justify-content: space-between;
}

aside {
  min-width: 37%;
  text-align: justify;
  background-color: #254e7a;
  opacity: 0.8;
  padding: 20px 30px;
  text-shadow: 1px 1px 1px #FEBD53;
  line-height: 30px;
}
.skills {
  line-height: 25px;
}
.skillou{
  text-shadow: 1px 1px 2px #FEBD53;
}
li {
  padding-bottom: 8px;
  font-size: 0.9em;
  color: white;
  padding-bottom: 15px;
  display: flex;
}
.fa-rocket:before,
.fa-dumbbell,
.fa-palette,
.fa-adjust,
.fa-sitemap,
.fa-database {
  color: #FEBD53;
  opacity: 0.7;
  padding-right: 10px;
}
.fa-circle:before {
  padding: 0 1px;
  margin: 0 10px;
  font-size: 13px;
  color: #224870;
  border: 1px solid #FEBD53;
  border-radius: 50%;
}
.skills_title {
  width: 230px;
 padding: 15px 90px 15px 0;
}
.access {
  max-width: 100%;
  overflow: hidden;
  max-height: 60px;
  text-align: center;
  margin: 25px 0;
  margin-right: 100px;
}
.access img {
  max-width: 30%;
  max-height: 60px;
}
.time {
  font-size: 0.7em;
  font-weight: 600;
  color: #FEBD53;
  opacity: 0.8;
  display: block;
  text-align: right;
  padding: 10px 0;
}
h3 {
  text-shadow: 1px 1px 2px #FEBD53;
  font-size: 1.5em;
  font-weight: 800;
  color: #000;
}
h4 {
  font-size: 1.2em;
  text-shadow: 1px 1px 3px #FEBD53;
  padding-left: 15px;
  color: #224870;
  font-weight: 700;
}
.formation p {
  color: rgb(167, 167, 167);
  padding: 10px 20px 20px 20px;
  font-size: 0.85em;
}
.fa-chevron-right:before{
  margin-right: 3px;
}
.formation h3, .xp h3{
  font-size: 1.82em;
  text-shadow: 1px 1px 3px #febd53;
}
em {
  font-weight: 700;
  color: #FEBD53;
  opacity: 0.7;
  margin-right: 8px;
}
.formation__description {
  padding-bottom: 20px;
max-width: 48%;}
.little{
  min-width: 48%;
}
.formation__description ul {
  font-size: 0.85em;
}
.formation__description li {
  color: rgb(167, 167, 167);
  text-shadow: 1px 1px 1px #224870;}
.line {
  border: 0.2px solid #FEBD53;
  box-shadow: 0.2px 0.2px 3px #224870;
}
section {
  min-width: 63%;
  text-align: justify;
  background-color: #ffffff;
  opacity: 0.8;
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: start;
}
.datet{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.datetime {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  text-align: center;
}
.datetime img {
  background-color: #ffffff;
  width: 70px;
  padding: 10px;
  height: 70px;
  border: 3px solid #FEBD53;
  box-shadow: 1px 1px 3px #FEBD53;
  border-radius: 20px;
  margin: 5px;
}
.comp h3 {
  text-align: center;
  padding-top: 15px;
}
h5 {
  display: inline-block;
  font-size: 0.9em;
  font-weight: 800;
  text-shadow: 1px 1px 1px #7796CB;
  color: #224870;
  background-color: #FEBD53;
  border-radius: 20px;
  margin: 5px 0;
  padding: 2px 5px;
}
footer {
  background-color: #7796CB;
  opacity: 0.85;
  text-shadow: 1px 1px 2px #FEBD53;
  font-size: 0.8em;
  padding: 40px 0;
}
footer h3 {
  font-size: 1.2em;
}
.fa-fire:before {
  color: #FEBD53;
  opacity: 0.7;
  padding-right: 10px;
}
.datet{
  margin-top: 60px ;
}
.footerline {
  margin: 10px 400px 20px 400px;
  border: 1px solid #FEBD53;
  box-shadow: 3px 3px 5px #FEBD53;
}
.others {
  display: flex;
  justify-content: space-around;
  flex-flow: column-reverse;
}
.header__contact-lin {
  border: 0.5px solid #FEBD53;
  margin: 20px -17px 0 -17px;
  box-shadow: 1px 1px 3px rgb(217, 217, 217);
}
.header__contact-li {
  border: 0.5px solid #FEBD53;
  box-shadow: 1px 1px 1px rgb(217, 217, 217);
}
.other h3 {
  padding: 20px;
}
.other p {
  color: #224870;
  display: flex;
  flex-direction: column;
  padding: 5px 10px 0 10px;
  text-shadow: 1px 1px 1px #224870;
}
.langage {
  display: flex;
  flex-flow: column nowrap;
  margin: 20px;
}
.langage p {
  
  margin : 10px 0 5px 0;
  color: white;
  text-shadow: 1px 1px 1px #FEBD53;
  font-size: 0.75rem;
}
p .flag {
  display: flex;
  flex-flow: nowrap;
  text-align: center;
  font-size: 0.9rem;
  text-shadow: 1px 1px 1px #0e0f18;
}
.flag span {
  padding: 8px 80px 0 0;
  color: white;
  text-shadow: 2px 2px 1px #224870;
  font-size: 0.9rem;
}
.langage strong{
  font-size: 0.7rem;
  color: #FEBD53;
  text-shadow: 1px 1px 1px #224870;
  margin: 5px 20px;
}
.ok{
  margin-left: 45px;
}
.white:before{
color: white;
}
.blue:before{
  color: #129ad4;
}
.flag img {
  height: 30px;
  width: 30px;
  border: 2px solid #FEBD53;
  border-radius: 50%;
  box-shadow: 1px 1px 2px #fff;
  margin-right: 10px;
  position: relative;
  top: 10px;
}
.half {
  min-width: 49%;
  padding-left: 80px;
  margin: 20px 0;
  line-height: 35px;
}
#center {
margin-bottom: 20px;}
.half li {
  line-height: 17px;
  text-shadow: 1px 1px 1px #224870;
}
.icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 15px;
}
.icon_filled .fa-circle:before {
  color: #58d844;
}
.icon_e .fa-circle:before {

  color: #7796CB;
}
.fa-home:before {
 margin-right: 5px;
}
.half ul{
  padding-inline-start: none;
}
.center li{ display: flex;
  flex-flow: row nowrap;
  justify-content: right;

}
.sport{
  padding-left: 105px;
}
.discovery{
  padding-left: 70px;
}
p{
    text-shadow: 1px 1px 1px #224870;
    font-weight: 500;
}
.lonely{
  max-width: 99%;
  display: flex;
  flex-flow: nowrap column;
  padding-left: 20px;
  padding-top: 20px;
}
.master{
  display: flex;
  flex-flow:wrap row;
  justify-content: space-between;
  font-size: 0.9em;
  padding: 20px;
  }
  .xp{
width: 40%;
padding: 30px 20px;  }
.xp ul{
    padding-top: 1px;
    line-height: 0px;
}
.xp li{
    color: rgb(167, 167, 167);
    font-size: 0.8em;
    line-height: 10px;
    text-shadow: 1px 1px 1px #FEBD53;
    padding-bottom: 5px;
    text-shadow: 1px 1px 1px #224870;
  font-weight: 500;}


.xp p{
    padding: 5px 0;
    font-size: 1em;
    text-shadow: 1px 1px 1px #224870;
    color: rgb(167, 167, 167);
}
.xp h3{
    padding: 0 15px 5px 15px;
    font-size: 1.2em;
    color: #FEBD53;
    box-shadow: 2px 2px 2px #7796CB;
    text-shadow: 2px 2px 2px #224870;
    border-radius: 3px;
}


#end{
    line-height: 0;
}
.header__contact-- {
    border: 0.5px solid #FEBD53;
    margin: 10px -10px ;
    box-shadow: 1px 1px 3px #fff;
  }
  .hard{
      opacity: 0.7;
      border-radius: 20px;
      padding: 10px 15px;
      margin: 40px;
      padding: 20px;
      text-align: justify;
  }
  .hard h3 {
      line-height: 22px;
padding: 15px;
text-shadow:1px 1px 3px #7796CB;
font-size: 1.4em;  }
.hard p{
      font-size: 1em;
      text-shadow: 1px 1px 3px #febd53;
      color: white;
      padding: 5px 30px;
      text-align: justify;
}
.other {
  display: flex;
  flex-direction: column;
justify-content: space-between;
}
.hard h2{
  font-size: 2em;
  text-shadow: 1PX  1PX 1px #febd53;
  color: #000;
  font-weight: 900;
}

.hard h5{
  color: #0e0f18;
  font-weight: 700;
  text-shadow: 1px 1px 3px #fff;
  padding: 10px;
}
#list{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  line-height: 30px;}
  .half i{
text-shadow: 1px 1px 2px #febd53;
margin: 0 0 0 10px;  }